.light-mode {
  color: #213547;
  background-color: #ffffff;
}

.light-mode a:hover {
  color: #747bff;
}

.light-mode button {
  background-color: #f9f9f9;
}

.light-mode h3 {
  color: #666;
}

.light-mode .polygon-palette, .light-mode .canvas-container {
  background-color: #f9f9f9;
  border-color: #ddd;
}

.light-mode .polygon-btn {
  background-color: #fff;
  border-color: #ddd;
  color: #333;
}

.light-mode .polygon-btn:hover {
  background-color: #f0f0f0;
  color: #000;
}

.light-mode .selected-info, .light-mode .canvas-controls, .light-mode .tiling-controls {
  background-color: #f0f0f0;
}

.light-mode .editor-canvas {
  background-color: #fafafa;
  border-color: #ccc;
}